.button {
	padding: 10px;
	border-radius: var(--border-radius);
	background-color: var(--accent-color-secondary);

	display: flex;
	justify-content: center;
	align-items: center;

	//14-16px
	font-size: clamp(0.88rem, calc(0.83rem + 0.21vw), 1rem);
	font-weight: 700;
	color: #fafaf9;
}

.favoriteIcon {
	height: 28px;
	width: 28px;
	fill: white;

	path {
		stroke: var(--accent-color-secondary);
	}

	&[data-isactive='true'] {
		fill: var(--accent-color-secondary);
	}
}
