#body {
	--accent-color-primary: rgba(244, 241, 232, 1);
	--accent-color-secondary: rgba(249, 115, 22, 1);
	--text-color-primary: rgba(51, 51, 51, 1);
	--text-color-secondary: rgba(28, 39, 76, 1);

	--border-radius: 8px;

	--container-width: 1280px;
	--container-padding-horizontal: 20px;
}

@media (max-width: 768px) {
	#body {
		--container-padding-horizontal: 10px;
	}
}
